<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <%- include('includes/messages') %>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h1 class="text-center">Dashboard</h1>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
